@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

.background-img {
  background-image: url("../assets/inverted.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  min-height: 500px;
}

.button-grid-desktop {
  width: 140px;
  float: right;
  display: flex;
  align-items: flex-start;
  justify-content: right;
  z-index: 10;
}

.button-grid-mobile {
  height: 80px;
  z-index: 10;
}

.home-column {
  width: 100%;
  min-width: 350px;
  float: right;
  display: flex;
  align-items: flex-start;
  justify-content: right;
  z-index: 10;
}

.content-area {
  width: 100%;
  position: absolute;
  height: calc(100% - 108px);
}

.me-face {
  width: 190px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-store-cta {
  width: auto;
}

.apple {
  height: 48px;
  margin-bottom: 3px;
  margin-right: 32px;
}

.google-play {
  height: 54px;
}

.cta-button-row {
  margin-top: 2em;
  margin-bottom: 2em;
}

.hidden-card {
  opacity: 0.0;
  top: 32px;
  margin-top: 50px;
  height: 0px;
}

.show-card {
  opacity: 1.0;
  top: 0px;
  margin-top: 16px;
}

.contact-me-card {
  transition: all 0.75s;
  position: absolute;
  min-height: 280px;
}

.home {
  transition: all 0.75s;
  position: absolute;
  width: 100%;
  height: 70%;
}

.html-icon {
  fill: black;
  stroke: black;
  width: 350px;
  height: auto;
  margin-top: 100px;
}

.consistent-button-width {
  width: 115px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  background-color: black;
}

.c38 {
  padding: 0;
}

.title-text {
  font-family: 'Roboto',
    sans-serif;
  font-size: 36px;
  text-align: center;
  font-style: italic;
  color: black;
  text-shadow: rgb(255, 255, 255) 0.7px 0px 0px,
  rgb(255, 255, 255) 0.0992221px 0.692932 0px,
  rgb(255, 255, 255) -0.671871px 0.196441px 0px,
  rgb(255, 255, 255) -0.289692px -0.637243px 0px,
  rgb(255, 255, 255) 0.589746px -0.377094px 0px;
}

.gamechanger-button {
  background-image: url("../assets/gc-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgb(2,22,68);

  font-size: 0em;
}
