<div class="background-img">
  <div [ngClass]="{'show-card': showHome, 'hidden-card': !showHome}" class="home center-content">
    <mat-grid-list cols="1" rowHeight="40px" gutterSize="0" class="home-column">
      <mat-grid-tile [rowspan]="4"></mat-grid-tile>
      <mat-grid-tile *ngIf="!isMobile()" [colspan]="1" [rowspan]="2" class="title-text"> 
        Preventing Default
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="10">
        <mat-icon svgIcon="html" class="html-icon"></mat-icon>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div *ngIf="!isMobile()" style="margin-top: 16px">
    <mat-grid-list cols="1" rowHeight="40px" gutterSize="4" class="button-grid-desktop">
      <mat-grid-tile [colspan]="1">
        <button (click)="showAboutCard()" class="consistent-button-width" mat-raised-button> ABOUT </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <button (click)="showContactCard()" class="consistent-button-width" mat-raised-button> CONTACT </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <button (click)="showBooksDiv()" class="consistent-button-width" mat-raised-button> BOOKS </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <button (click)="goToLinkedIn()" mat-raised-button class="consistent-button-width"> 
          LINKEDIN <mat-icon [@myAnimation] *ngIf="showGoToLinkedIn">launch</mat-icon> 
        </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <button (click)="goToGithub()" mat-raised-button class="consistent-button-width"> 
          GITHUB <mat-icon [@myAnimation] *ngIf="showGoToGithub">launch</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <button (click)="goToMedium()" class="consistent-button-width" mat-raised-button>
           MEDIUM <mat-icon [@myAnimation] *ngIf="showGoToMedium">launch</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <button (click)="goToGamechanger()" class="consistent-button-width gamechanger-button" mat-raised-button> 
          GC <mat-icon [@myAnimation] *ngIf="showGoToGamechanger" style="margin-left: 70px; margin-top: 2px;">launch</mat-icon> 
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div *ngIf="isMobile()" style="margin-top: 16px">
    <mat-grid-list cols="2" rowHeight="40px" gutterSize="4" class="button-grid-mobile">
      <mat-grid-tile [colspan]="1">
        <button (click)="showAboutCard()" class="consistent-button-width" mat-raised-button> ABOUT </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <button (click)="showContactCard()" class="consistent-button-width" mat-raised-button> CONTACT </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <button (click)="goToTwitter()" class="consistent-button-width" mat-raised-button>
          TWITTER <mat-icon [@myAnimation] *ngIf="showGoToTwitter">launch</mat-icon>
       </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <button (click)="goToLinkedIn()" mat-raised-button class="consistent-button-width"> 
          LINKEDIN <mat-icon [@myAnimation] *ngIf="showGoToLinkedIn">launch</mat-icon> 
        </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <button (click)="goToGithub()" mat-raised-button class="consistent-button-width"> 
          GITHUB <mat-icon [@myAnimation] *ngIf="showGoToGithub">launch</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <button (click)="goToMedium()" class="consistent-button-width" mat-raised-button>
           MEDIUM <mat-icon [@myAnimation] *ngIf="showGoToMedium">launch</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2">
        <button (click)="goToGamechanger()" class="consistent-button-width gamechanger-button" mat-raised-button> 
          GC <mat-icon [@myAnimation] *ngIf="showGoToGamechanger" style="margin-left: 70px; margin-top: 2px;">launch</mat-icon> 
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div class="content-area center-content">
    <mat-card [ngClass]="{'hidden-card': !showContact,'show-card': showContact}" class="contact-me-card">
      <h3> Contact me </h3>
      <p> 
        Email: <a href="mailto:stevepopovich8@gmail.com" style="color:white"> stevepopovich8@gmail.com </a>
      </p>
      <img src="assets/me.jpg" class="me-face" />
    </mat-card>

    <mat-card [ngClass]="{'hidden-card': !showAbout,'show-card': showAbout}" class="about-me-card">
      <h3> Developer! </h3>
      <p> Steven is currently a software engineer at GameChanger. He writes full-stack native mobile applications for both iOS and Android. </p>
      <p> He loves Kotlin and Typescript. He is particularly interested in scaling mobile applications and testing. </p>
      <p> He currently works with Kotlin, Swift, TypeScript, Rx, Realm, Postgres, Docker, AWS, Datadog, Zeplin, Mongo Atlas, Clubhouse and Trello. </p>
      <p> He has experience handling system-down incidents, diagnosing problems with DataDog, and AWS. </p>
      <p> Outside of work, Steven enjoys running, basketball and writing more code. He is currently located in Brooklyn, New York.</p>
    </mat-card>
  </div>

  <div [ngClass]="{'hidden-card': !showBooks,'show-card': showBooks}">
    <mat-grid-list  cols="1" gutterSize="0">
      <mat-grid-tile [colspan]="1">
        <mat-card style="background-color: black;">
          <img src="assets/book-covers/clean-code.jpg" class="book-image" />
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <mat-card style="background-color: black;">
          <img src="assets/book-covers/soft-skills.jpg" class="book-image" />
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <mat-card style="background-color: black;">
          <img src="assets/book-covers/clean-coder.jpg" class="book-image" />
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <mat-card style="background-color: black;">
          <img src="assets/book-covers/professional-android.jpg" class="book-image" />
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <mat-card style="background-color: black;">
          <img src="assets/book-covers/field-guide-to-human-error.jpg" class="book-image" />
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <mat-card style="background-color: black;">
          <img src="assets/book-covers/managing-humans1.jpg" class="book-image" />
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
