<div class="background-img">
  <div [ngClass]="{'show-card': showHome, 'hidden-card': !showHome}" class="home center-content">
    <mat-grid-list cols="1" rowHeight="40px" gutterSize="0" class="home-column">
      <mat-grid-tile [rowspan]="4"></mat-grid-tile>
      <mat-grid-tile *ngIf="!isMobile()" [colspan]="1" [rowspan]="2" class="title-text"> 
        Because what we leave behind matters 
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="10">
        <mat-icon svgIcon="html" class="html-icon"></mat-icon>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div *ngIf="!isMobile()" style="margin-top: 16px">
    <mat-grid-list cols="1" rowHeight="40px" gutterSize="4" class="button-grid-desktop">
      <mat-grid-tile [colspan]="1">
        <button (click)="showContactCard()" class="consistent-button-width" mat-raised-button> CONTACT </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <button (click)="goToLinkedIn()" mat-raised-button class="consistent-button-width"> LINKEDIN </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <button (click)="goToGithub()" mat-raised-button class="consistent-button-width"> GITHUB </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <button (click)="goToMedium()" class="consistent-button-width" mat-raised-button> MEDIUM </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <button (click)="goToGamechanger()" class="consistent-button-width gamechanger-button" mat-raised-button> GC </button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div *ngIf="isMobile()" style="margin-top: 16px">
    <mat-grid-list cols="2" rowHeight="40px" gutterSize="4" class="button-grid-mobile">
      <mat-grid-tile [colspan]="1">
        <button (click)="showContactCard()" class="consistent-button-width" mat-raised-button> CONTACT </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <button (click)="goToLinkedIn()" mat-raised-button class="consistent-button-width"> LINKEDIN </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <button (click)="goToGithub()" mat-raised-button class="consistent-button-width"> GITHUB </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1">
        <button (click)="goToMedium()" class="consistent-button-width" mat-raised-button> MEDIUM </button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2">
        <button (click)="goToGamechanger()" class="consistent-button-width gamechanger-button" mat-raised-button> GC </button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="content-area center-content">
    <mat-card [ngClass]="{'hidden-card': !showContact,'show-card': showContact}" class="contact-me-card">
      <h3> Contact me </h3>
      <p> Email: stevepopovich8@gmail.com </p>
      <img src="assets/me.jpg" class="me-face" />
    </mat-card>
  </div>
</div>
